@use "@material/theme" with (
  $primary: #1b5e20,
  $secondary: #0277bd,
  $background: #ffffff,
);
@use '@material/button/mdc-button';
@use '@material/button';
@use "@material/drawer";
@use "@material/list";
@use "@material/tab-bar/mdc-tab-bar";
@use "@material/tab-scroller/mdc-tab-scroller";
@use "@material/tab-indicator/mdc-tab-indicator";
@use "@material/tab/mdc-tab";
@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
@use "@material/card";
@use "@material/list/mdc-list";
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/menu/mdc-menu";
@use "@material/snackbar/mdc-snackbar";
@use "@material/radio/styles";
@use "@material/form-field";

@include form-field.core-styles;

@include card.core-styles;
@include textfield.core-styles;

html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto;
  margin: 0px auto;
}


.content {
  margin: 10rem auto;
  padding-bottom: 20rem;
  text-align: center;
}

.mdc-tab {
  background-color: #c0c0c0;
  color: #1b5e20;
  font-weight: bold;
}

.mdc-tab__text-label{
  font-family: 'Roboto';
}

#label1{
  width: 200px;
}

img{
  height: 120px;
  width: 200px;
}

.topbar{
  background-color: #0277bd;
  height: 160px;
  width: 100%;
}

.logo{
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}

.derecha{
  float: right;
  margin-right: 60px;
}

.usuario{
  margin-top: 20px;
  color: #ffffff;
  font-weight: bold;
}

.buscar{
  margin-top: 10px;
  width: 180px;
}

main{
  width: 100%;
  float: left;
}

.seleccion{
  width: 20%;
  background-color: #1b5e20;
  float: left;
  margin: 1%;
}

.listapartidos{
  width: 53%;
  float: left;
  margin: 1%;
  text-align: center;
}

.ranking{
  float: right;
  width: 20%;
  background-color: #1b5e20;
  margin: 1%;

}

.gruposIzq{
  float: left;
  margin-left: 25px;
  margin-top: 15px;
  color: #ffffff;
  font-weight: bold;
}

.gruposDer{
  float: right;
  margin-right: 65px;
  margin-top: 15px;
  color: #ffffff;
  font-weight: bold;
}

.listagrupo{
  list-style-type: none;
  margin-bottom: 30px;
}

.mdc-text-field{
  width: 50px;
  font-family: Roboto;
}


nav{
  background-color: #dbdbdb;
}

#botonaltaequipo{
  left: 5%;
  position: relative;
}

#botonaltaestadio{
  left: 25%;
  position: relative;
}

#botonaltaarbitro{
  left: 45%;
  position: relative;
}

#botonaltapartido{
  left: 65%;
  position: relative;
}

li{
  font-style: italic;
  font-family: Roboto;
}

.titulotablaranking{
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  text-decoration: underline;
}

.tabla_ranking{
  color: #ffffff;
  td, th{
    line-height: 60px;
    width: 250px;
  }
  th{
    font-size: larger;
  }
  margin: 50px;
  margin-top: 20px;
  text-align: left;
}

.titulogrupo{
  font-size: larger;
}

.partidos{
  margin:0 auto;
  margin-top: 30px;
  td{
    line-height: 90px;
    width: 130px;
  }
}

.eleccion_dia{
  color: #ffffff;
  font-weight: bold;
  margin: 30px;
  margin-bottom: 100px;
}

.mdc-button__label{
  color: #ffffff;
}

.mdc-button{
  background-color: #0277bd;
}

#botonprono{
  background-color: #1b5e20;
}

#botonelim{
  background-color: red;
}